@page
@model ZDY.DMS.Web.Pages.WorkFlow.WorkFlowDesignModel

<div class="row">
    <div class="col-md-3">
        <portlet data-model="table" is-header-destroyed="true" is-height-fluid="true">
            <button size="Lg" state="Brand" style="margin:20px 20px 0; padding:0.9rem 0;" data-bind="click:handlePreNewFlow">新建流程</button>
            <div class="kt-scroll" data-scroll="true" data-height="660">
                <ul class="kt-nav kt-nav--md-space">
                    <!-- ko foreach: {data: WorkFlowKinds, as: 'type'} -->
                    <li class="kt-nav__section">
                        <span class="kt-nav__section-text" data-bind="text:type.Name"></span>
                    </li>
                    <!-- ko foreach: {data: recordSet, as: 'item'} -->
                    <!-- ko if: type.Value.toString() === item.Type.toString()-->
                    <li class="kt-nav__item" data-bind="click: $root.handleSelectedFlow, attr:{'data-id': item.Id}">
                        <a href="javascript:;" class="kt-nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 12px;" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24" />
                                    <path d="M18.5,8 C17.1192881,8 16,6.88071187 16,5.5 C16,4.11928813 17.1192881,3 18.5,3 C19.8807119,3 21,4.11928813 21,5.5 C21,6.88071187 19.8807119,8 18.5,8 Z M18.5,21 C17.1192881,21 16,19.8807119 16,18.5 C16,17.1192881 17.1192881,16 18.5,16 C19.8807119,16 21,17.1192881 21,18.5 C21,19.8807119 19.8807119,21 18.5,21 Z M5.5,21 C4.11928813,21 3,19.8807119 3,18.5 C3,17.1192881 4.11928813,16 5.5,16 C6.88071187,16 8,17.1192881 8,18.5 C8,19.8807119 6.88071187,21 5.5,21 Z" fill="#000000" opacity="0.3" />
                                    <path d="M5.5,8 C4.11928813,8 3,6.88071187 3,5.5 C3,4.11928813 4.11928813,3 5.5,3 C6.88071187,3 8,4.11928813 8,5.5 C8,6.88071187 6.88071187,8 5.5,8 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 C14,5.55228475 13.5522847,6 13,6 L11,6 C10.4477153,6 10,5.55228475 10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,18 L13,18 C13.5522847,18 14,18.4477153 14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 C10,18.4477153 10.4477153,18 11,18 Z M5,10 C5.55228475,10 6,10.4477153 6,11 L6,13 C6,13.5522847 5.55228475,14 5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 C18.4477153,14 18,13.5522847 18,13 L18,11 C18,10.4477153 18.4477153,10 19,10 Z" fill="#000000" />
                                </g>
                            </svg>
                            <span class="kt-nav__link-text" data-bind="text:item.Name">流程名称</span>
                            <span class="kt-nav__link-badge">
                                <lable data-bind="state:$root.dic('WorkFlowState', item.State, true)"></lable>
                            </span>
                        </a>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </div>
        </portlet>
    </div>
    <div class="col-md-9">
        <portlet title="流程设计" is-height-fluid="true">

            <section data-model="settings">

                <div class="btn-group">
                    <button icon="Edit" size="Sm" state="Brand" data-bind="click:handlePreNewFlow">
                        设计流程
                    </button>
                </div>

                <div class="btn-group" data-bind="visible:Id()">
                    <button icon="Windows" size="Sm" state="Dark" is-outline="true" data-bind="click:handleClearFlow">
                        清空画布
                    </button>
                </div>

                <div class="btn-group" data-bind="visible:Id()">
                    <button icon="Edit" size="Sm" state="Success" data-bind="click:handleSettingFlow">
                        流程设置
                    </button>
                    <button icon="LifeSaver" size="Sm" state="Brand" data-bind="click:handlePreSaveAsFlow">
                        另存流程
                    </button>
                    <button icon="Save" size="Sm" state="Primary" data-bind="click:handleSaveFlow">
                        保存流程
                    </button>
                </div>

                <div class="btn-group" data-bind="visible:Id()">
                    <button icon="Upload" size="Sm" state="Success" data-bind="click:handleInstallFlow, visible: State() !== 1">
                        安装流程
                    </button>
                    <button icon="Download" size="Sm" state="Warning" data-bind="click:handleUnInstallFlow, visible: State() === 1">
                        卸载流程
                    </button>
                    <button icon="Remove" size="Sm" state="Danger" data-bind="click:$root.delete, visible: State() !== 1">
                        删除流程
                    </button>
                </div>

            </section>

            <div class="row">
                <div class="col-md-12">
                    <div id="canvas"></div>
                </div>
            </div>
        </portlet>
    </div>
</div>

<div data-model="settings">
    <modal title="新建流程" id="modal-new">
        <div class="row">
            <div class="col-md-12">
                <text-box field="NewName" name="流程名称" is-bind-computed="true"></text-box>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button size="Sm" state="Success" data-bind="click:handleNewFlow">提交</button>
        </modal-footer>
    </modal>

    <modal title="流程设置" size="Lg" id="modal-settings">
        <div class="row">
            <div class="col-md-12">
                <form-builder>
                    <div class="row">
                        <div class="col-md-12">
                            <text-box field="Name" is-bind-computed="true" name="流程名称" is-required="true"></text-box>
                        </div>
                        <div class="col-md-12">
                            <check-box field="IsRemoveCompletedInstance" is-bind-computed="true" text="是否删除自动删除已通过审批的流程数据？" class-names="mb-4"></check-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <select-box field="Type" is-bind-computed="true" name="流程类型" options="@Model.WorkFlowKinds" is-place-holder-destroyed="true" is-required="true"></select-box>
                        </div>
                        <div class="col-md-6">
                            <select-box field="FormId" is-bind-computed="true" name="流程表单" options="@Model.WorkFlowPublishedFormOptions" is-place-holder-destroyed="true" is-required="true"></select-box>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-12">
                            <select-box field="Managers" is-bind-computed="true" name="流程管理者" options="@Model.UserOptions" is-place-holder-destroyed="true" rows="3"></select-box>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <select-box field="InstanceManagers" is-bind-computed="true" name="实例管理者" options="@Model.UserOptions" is-place-holder-destroyed="true" rows="3"></select-box>
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-md-12">
                            <text-box field="Note" is-bind-computed="true" name="备注信息" kind="Textarea"></text-box>
                        </div>
                    </div>
                </form-builder>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button state="Success" data-bind="click:update, visible:Id()!=0">修改</button>
        </modal-footer>
    </modal>

    <modal title="另存流程" id="modal-save-as">
        <div class="row">
            <div class="col-md-12">
                <form-builder>
                    <div class="row">
                        <div class="col-md-12">
                            <text-box field="NewName" is-bind-computed="true" name="新流程名称"></text-box>
                        </div>
                        <div class="col-md-12">
                            <check-box field="IsOpenAfterCreated" is-bind-computed="true" name="另存后立即打开"></check-box>
                        </div>
                    </div>
                </form-builder>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button state="Success" data-bind="click:handleSaveAsFlow">提交</button>
        </modal-footer>
    </modal>

    <modal title="安装报告" id="model-install-message" size="Lg">
        <note state="Danger">
            安装的过程中出现错误，具体报告如下：
        </note>
        <div class="row">
            <div class="col-md-12">
                <div class="scroller" style="height:400px">
                    <data-table is-show-checkbox-column="false" is-show-header="false" source-key="InstallMessages">
                        <cell>
                            <!-- ko text:Item3 --><!-- /ko -->：<!-- ko text:Item2 --><!-- /ko --><br />
                            <!-- ko text:Item1 --><!-- /ko -->
                        </cell>
                        <cell data-bind="text:Item4" style="width: 100%; white-space: normal;"></cell>
                    </data-table>
                </div>
            </div>
        </div>
    </modal>
</div>

<div data-model="step-settings">
    <modal title="步骤设置" size="Lg" id="modal-step-settings">
        <div class="row" data-bind="with: Step">
            <div class="col-md-12">
                <tabs>
                    <tab-pane name="基础设置">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <text-box field="StepId" name="步骤Id" is-required="true" is-disabled="true"></text-box>
                                    </div>
                                    <div class="col-md-6">
                                        <text-box field="StepName" name="步骤名称" is-required="true"></text-box>
                                    </div>
                                </div>
                                <div class="row" data-bind="if: StepType == 1">
                                    <div class="col-md-6">
                                        <select-box field="SubFlowTactic" name="子流程规则" options="@Model.WorkFlowSubFlowTactic" is-place-holder-destroyed="true" is-required="true"></select-box>
                                    </div>
                                    <div class="col-md-6">
                                        <select-box field="SubFlowId" name="子流程" options="@Model.WorkFlowInstalledFlowOptions" is-place-holder-destroyed="true" is-required="true"></select-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select-box field="SignatureType" name="签名类型" options="@Model.WorkFlowSignatureKinds" is-place-holder-destroyed="true"></select-box>
                                    </div>
                                    <div class="col-md-6">
                                        <text-box field="TimeLimit" name="超时时间限制（小时）" kind="Number"></text-box>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <check-box field="IsShowComment" text="是否显示他人意见？"></check-box>
                                    </div>
                                    <div class="col-md-6">
                                        <check-box field="IsTimeoutReminding" text="是否需要超时提醒？"></check-box>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <text-box field="Note" name="备注信息" is-multiple="true"></text-box>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab-pane>
                    <tab-pane name="规则设置">
                        <div class="row">
                            <div class="col-md-6">
                                <select-box field="FlowControl" name="流转控制" options="@Model.WorkFlowControlKinds" is-place-holder-destroyed="true"></select-box>
                            </div>
                            <div class="col-md-6">
                                <select-box field="$root.HandlerType" name="步骤处理人" options="@Model.WorkFlowHandlerKinds" is-place-holder-destroyed="true"></select-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- ko if: $root.HandlerType() == 1 || $root.HandlerType() == 18 || $root.HandlerType() == 19 -->
                                <select-box name="选择处理者" options="@Model.UserOptions" is-place-holder-destroyed="true" rows="3" bind="select2: {placeholder: '请选择...', width: '100%', multiple: true, value: $root.Handlers}"></select-box>
                                <!-- /ko -->
                                <!-- ko if: $root.HandlerType() == 2 -->
                                <select-box name="选择处理者" field="$root.Handlers" options="@Model.DepartmentOptions" is-place-holder-destroyed="true"></select-box>
                                <!-- /ko -->
                                <!-- ko if: $root.HandlerType() == 3 -->
                                <select-box name="选择处理者" field="$root.Handlers" options="@Model.UserGroupOptions" is-place-holder-destroyed="true"></select-box>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select-box field="HandleTactic" name="处理规则" options="@Model.WorkFlowHandleTactic" is-place-holder-destroyed="true"></select-box>
                            </div>
                            <div class="col-md-6">
                                <text-box field="Percentage" name="处理规则百分比" kind="Number"></text-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select-box field="BackTactic" name="回退规则" options="@Model.WorkFlowBackTactic" is-place-holder-destroyed="true"></select-box>
                            </div>
                            <div class="col-md-6">
                                <select-box field="BackType" name="回退类型" options="@Model.WorkFlowBackKinds" is-place-holder-destroyed="true"></select-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <select-box field="CountersignatureTactic" name="会签规则" options="@Model.WorkFlowCountersignatureTactic" is-place-holder-destroyed="true"></select-box>
                            </div>
                            <div class="col-md-6">
                                <text-box field="CountersignaturePercentage" name="会签规则百分比" kind="Number"></text-box>
                            </div>
                        </div>
                    </tab-pane>
                    <tab-pane name="步骤事件">
                        <div class="row">
                            <div class="col-md-6">
                                <text-box field="BeforeSubmitInterceptor" name="步骤提交前事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                            <div class="col-md-6">
                                <text-box field="AfterSubmitInterceptor" name="步骤提交后事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <text-box field="BeforeBackInterceptor" name="步骤退回前事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                            <div class="col-md-6">
                                <text-box field="AfterBackInterceptor" name="步骤退回后事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <text-box field="BeforeSubFlowActivationInterceptor" name="子流程激活前事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                            <div class="col-md-6">
                                <text-box field="AfterSubFlowActivationInterceptor" name="子流程激活后事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <text-box field="SubFlowFinishedInterceptor" name="子流程完成事件" placeholder="DllName.TypeName.MethodName"></text-box>
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                    </tab-pane>
                </tabs>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button state="Success" data-bind="click:handleSet">完成设置</button>
        </modal-footer>
    </modal>
</div>

<div data-model="transit-settings">
    <modal title="条件设置" size="Lg" id="modal-transit-settings">
        <div class="row" data-bind="with: Transit">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <text-box field="TransitId" name="条件Id" is-required="true" is-disabled="true"></text-box>
                    </div>
                    <div class="col-md-6">
                        <select-box field="ConditionType" name="条件类型" options="@Model.WorkFlowTransitConditionKinds" is-place-holder-destroyed="true"></select-box>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <text-box field="TransitName" name="条件名称" is-required="true"></text-box>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <text-box field="ConditionValue" name="条件表达式" kind="Textarea" />
                    </div>
                </div>
            </div>
        </div>
        <modal-footer dismiss-text="关闭">
            <button type="button" color="Green" data-bind="click:handleSet">完成设置</button>
        </modal-footer>
    </modal>
</div>

@section styles{
    <style type="text/css">

        #canvas {
            background-image: url(/media/workflow/flow-canvas-bg.gif);
            overflow: hidden;
            border: 1px solid #c7c7c7;
        }

        .context-menu {
            position: absolute;
            width: 150px;
            background-color: #eee;
            border: 1px solid #bbb;
            border-radius: 3px;
            font-size: 12px;
        }

            .context-menu ul {
                padding: 5px;
                margin: 0;
            }

                .context-menu ul li {
                    list-style: none;
                }

                    .context-menu ul li a {
                        display: block;
                        text-decoration: none;
                        color: #555;
                        line-height: 2em;
                        padding: 0 0 0 6px;
                    }

                        .context-menu ul li a:hover {
                            color: #000;
                            background-color: #ccc;
                        }
    </style>
}

@section scripts{
    <script src="/plugins/custom/zrender/zrender.min.js"></script>
    <script src="/js/workflow/flow-designer.js"></script>

    <script type="text/javascript">
        var dictionary = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Dictionary))')

        var Step = function Step(unit) {
            //基础信息
            this.StepId = unit ? unit.id : "id"
            this.StepType = unit ? (unit.subtype == 2 ? 0 : 1) : 0
            this.StepName = unit ? unit.title : "新步骤"
            this.IsShowComment = true
            this.IsTimeoutReminding = true
            this.TimeLimit = 8
            this.SignatureType = 0
            this.Note = ""
            //流转策略
            this.FlowControl = 0
            this.IsAllowRuntimeToSelect = false
            this.HandlerType = 0
            this.Handlers = ""
            this.BackTactic = 0
            this.HandleTactic = 0
            this.BackType = 0
            this.Percentage = 100
            this.CountersignatureTactic = 0
            this.CountersignaturePercentage = 100
            this.SubFlowId = ""
            this.SubFlowTactic = 0
            //步骤拦截方法
            this.BeforeSubmitInterceptor = ""
            this.AfterSubmitInterceptor = ""
            this.BeforeBackInterceptor = ""
            this.AfterBackInterceptor = ""
            this.BeforeSubFlowActivationInterceptor = ""
            this.AfterSubFlowActivationInterceptor = ""
            this.SubFlowFinishedInterceptor = ""
        }

        var Transit = function (unit) {
            //基础信息
            this.TransitId = unit ? unit.id : "id"
            this.TransitName = unit ? unit.title : "无条件"
            this.FromStepId = unit ? unit.from : ""
            this.ToStepId = unit ? unit.to : ""
            //条件信息
            this.ConditionType = 0
            this.ConditionValue = ""
        }

        var initDesigner = function () {
            var activities = [
                { 'id': '0755d21f-672e-4289-9c4e-a6c800c89fc5', 'subtype': 0, 'position': { x: 88, y: 60 }, 'title': '开始' },
                { 'id': 'c28dc449-50c9-440f-b539-a6c800c8af01', 'subtype': 1, 'position': { x: 88, y: 160 }, 'title': '初始审批', canSelect: false },
                { 'id': '6b475718-572c-4141-b6f7-a6c800d9cefd', 'subtype': 2, 'position': { x: 88, y: 260 }, 'title': '直接领导审批' },
                { 'id': '6b475718-572c-4141-b6f7-a6c800d9cef4', 'subtype': 2, 'position': { x: 300, y: 280 }, 'title': '直接领导审批2' }
            ];
            var transitions = [
                { 'id': 'db2faea5-81f2-4958-a075-a6c800ee41c1', 'subtype': 0, 'from': '0755d21f-672e-4289-9c4e-a6c800c89fc5', 'fromAngle': -5, 'to': 'c28dc449-50c9-440f-b539-a6c800c8af01', 'toAngle': -1, 'title': '无条件' },
                { 'id': 'c6a3680f-4343-4599-bd16-a6c8017b536e', 'subtype': 1, 'from': 'c28dc449-50c9-440f-b539-a6c800c8af01', 'fromAngle': -5, 'to': '6b475718-572c-4141-b6f7-a6c800d9cefd', 'toAngle': -1, 'title': '无条件' },
                { 'id': 'c6a3680f-4343-4599-bd16-a6c8017b5364', 'subtype': 1, 'from': 'c28dc449-50c9-440f-b539-a6c800c8af01', 'fromAngle': -5, 'to': '6b475718-572c-4141-b6f7-a6c800d9cef4', 'toAngle': -1, 'title': '无条件' }
            ];

            var flowDesigner = designer.init({
                designable: true,
                activityDataModel: Step,
                transitionDataModel: Transit,
                onUnitDblclick: function (e, unit) {
                    handleUnitSetting(unit)
                },
                onUnitSetting: function (e, unit) {
                    handleUnitSetting(unit)
                }
            });

            var handleUnitSetting = function (unit) {
                if (unit.type == 'Activity') {
                    stepSettings.handleLoadUnit(unit)
                } else if (unit.type == 'Transition') {
                    transitSettings.handleLoadUnit(unit)
                }
            }

            return flowDesigner
        }

        var designer = initDesigner()

        var settings = zdy.form().options({
            fields: [
                { field: 'Id', value: ko.observable() },
                { field: 'FormId', value: ko.observable() },
                { field: 'Name', value: ko.observable() },
                { field: 'Type', value: ko.observable() },
                { field: 'State', value: ko.observable() },
                { field: 'Managers', value: ko.observable() },
                { field: 'InstanceManagers', value: ko.observable() },
                { field: 'IsRemoveCompletedInstance', value: ko.observable() },
                { field: 'Note', value: ko.observable() }
            ],
            dataAddUrl: 'WorkFlow/Add',
            dataUpdateUrl: 'WorkFlow/Update',
            dataDeleteUrl: 'WorkFlow/Delete'
        }).import(function () {

            this.afterAdd = function (data) {
                this.Id(data.Id);
                designer.clear();
                table.load();
                zdy.modal.hide("modal-new");
            }

            this.afterUpdate = function () {
                table.load();
                zdy.modal.hide("modal-settings");
            }

            this.afterDelete = function () {
                this.reset()
                designer.clear()
            }

            this.NewName = ko.observable("")

            this.IsOpenAfterCreated = ko.observable(false)

            this.handleResetNewName = function () {
                this.NewName("")
                this.IsOpenAfterCreated(false)
            }

            this.handleClearFlow = function () {
                designer.clear()
            }

            this.handleSettingFlow = function () {
                zdy.modal.show("modal-settings");
            }

            this.handlePreNewFlow = function () {
                this.handleResetNewName();
                zdy.modal.show("modal-new")
            }

            this.handleNewFlow = function () {
                if (this.FormId() == "" || this.FormId() == undefined) {
                    zdy.toastr.warning("还未发布过表单，请先创建表单");
                    return
                }
                var name = this.NewName()
                if (name != "" && name != undefined) {
                    this.reset()
                    this.Id(undefined)
                    this.Name(name)
                    this.add()
                } else {
                    zdy.toastr.success("请填写流程名称");
                }
            }

            this.handleSaveFlow = function () {
                var designJson = designer.getJson()
                var id = this.Id()
                zdy.ajaxPost("WorkFlow/Save", { id: id, designJson: designJson }).done(function (rst) {
                    if (rst.IsSuccess) {
                        zdy.toastr.success("保存成功");
                    }
                })
            }

            this.handleSaveAsFlow = function () {
                var designJson = designer.getJson()
                var id = this.Id()
                var name = this.NewName()
                var isOpen = this.IsOpenAfterCreated()
                zdy.ajaxPost("WorkFlow/SaveAs", { id: id, name: name, designJson: designJson }).done(function (rst) {
                    if (rst.IsSuccess) {
                        if (isOpen) {
                            settings.load(rst.Data)
                        }

                        table.load();
                        zdy.modal.hide("modal-save-as");
                        zdy.toastr.success("另存成功");
                    }
                })
            }

            this.handlePreSaveAsFlow = function () {
                this.handleResetNewName();
                zdy.modal.show("modal-save-as");
            }

            this.InstallMessages = ko.observableArray()

            this.handleInstallFlow = function () {
                var designJson = designer.getJson()
                var id = this.Id()
                var runtimeJson = this.handleGetRuntimeJson()
                zdy.ajaxPost("WorkFlow/Installed", { id: id, designJson: designJson, runtimeJson: runtimeJson }).done(function (rst) {
                    if (rst.IsSuccess) {
                        if (rst.Data.IsInstallSuccess) {
                            table.load();
                            zdy.toastr.success("安装成功");
                        } else {
                            settings.InstallMessages(rst.Data.Messages)
                            zdy.modal.show("model-install-message");
                            zdy.toastr.error("安装失败");
                        }
                    }
                })
            }

            this.handleUnInstallFlow = function () {
                var id = this.Id()
                zdy.ajaxPost("WorkFlow/UnInstalled", { id: id }).done(function (rst) {
                    if (rst.IsSuccess) {
                        table.load();
                        zdy.toastr.success("卸载完成");
                    }
                })
            }

            this.handleGetRuntimeJson = function () {
                var designJson = designer.getJson()
                var data = JSON.parse(designJson);
                var rst = {
                    Name: settings.Name(),
                    Steps: [],
                    Transits: []
                }
                if (data) {
                    rst.Steps = data.activities.map(function (item) {
                        return item.data
                    })
                    rst.Transits = data.transitions.map(function (item) {
                        return item.data
                    })
                }
                return JSON.stringify(rst)
            }

            this.handleLoadFlow = function (id) {
                zdy.ajaxPost("WorkFlow/FindByKey", { id: id }).done(function (rst) {
                    if (rst.IsSuccess) {
                        settings.load(rst.Data)

                        if (rst.Data.DesignJson.length > 0) {
                            try {
                                var data = JSON.parse(rst.Data.DesignJson)
                                designer.load(data)
                            } catch (e) {
                                designer.clear()
                            }
                        } else {
                            designer.clear()
                        }

                        zdy.toastr.success("加载完成");
                    }
                })
            }

        }).bind("settings");

        var table = zdy.table().options({
            fields: [
                { field: 'Name', value: ko.observable(), method: zdy.querymethod.contains },
                { field: 'Type', value: ko.observable(), method: zdy.querymethod.equal }
            ],
            headers: [
                { text: '流程名称', field: 'Name' },
                { text: '流程类型', field: 'Type' },
                { text: '流程状态', field: 'State' },
                { text: '创建时间', field: 'TimeStamp' }
            ],
            pageSize: 10000,
            defaultOrderBy: "TimeStamp",
            dataQueryUrl: 'WorkFlow/Search'
        }).import(function () {

            this.dic(dictionary)

            this.WorkFlowKinds = dictionary["WorkFlowKinds"]

            this.afterLoad = function () {
                var id = settings.Id()
                if (id) {
                    zdy.nav.actived(id).done(function () {
                        settings.handleLoadFlow(id);
                    })
                }
            }

            this.handlePreNewFlow = function () {
                settings.handlePreNewFlow();
            }

            this.handleSelectedFlow = function (data, e) {
                var id = $(e.target).closest(".kt-nav__item").data("id");
                if (id) {
                    zdy.nav.actived(id).done(function () {
                        settings.handleLoadFlow(id);
                    })
                }
            }

        }).bind("table").load();

        var stepSettings = zdy.module().import(function () {

            this.Step = ko.observable(new Step())

            this.Unit = undefined

            this.HandlerType = ko.observable()

            this.Handlers = ko.observable("")

            this.handleLoadUnit = function (unit) {
                this.Unit = unit
                this.Step(unit.data)
                this.HandlerType(unit.data.HandlerType)
                this.Handlers(unit.data.Handlers)

                $("#modal-step-settings").modal("show")
            }

            this.handleSet = function () {
                if (this.valid()) {
                    this.Unit.title = this.Step().StepName
                    this.Unit.refresh()
                    $("#modal-step-settings").modal("hide")
                }
            }

        }).bind("step-settings")

        stepSettings.HandlerType.subscribe(function (newValue) {
            stepSettings.Unit.data.HandlerType = newValue
        })
        stepSettings.Handlers.subscribe(function (newValue) {
            stepSettings.Unit.data.Handlers = newValue
        })

        var transitSettings = zdy.module().import(function () {

            this.Transit = ko.observable(new Transit())

            this.Unit = undefined

            this.handleLoadUnit = function (unit) {
                this.Unit = unit
                this.Transit(unit.data)

                $("#modal-transit-settings").modal("show")
            }

            this.handleSet = function () {
                if (this.valid()) {
                    this.Unit.title = this.Transit().TransitName
                    this.Unit.subtype = this.Transit().ConditionType == "0" ? 1 : 0
                    this.Unit.refresh()
                    $("#modal-transit-settings").modal("hide")
                }
            }

        }).bind("transit-settings")
    </script>
}